@import url('https://fonts.googleapis.com/css?family=Poppins:300,400');

/* General */
body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
  color: #fff;
  background-color: #1f2029;
	overflow-x: hidden;
}

a {
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

.table {
  color: #c4c3ca;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.table td, .table th {
  border-top: none;
}

img.thumbnail {
  padding: .5rem;
  max-width: 72px;
  height: auto;
}

/* Tooltip */
.ctooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.ctooltip .tooltipbottom {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.ctooltip .tooltiptop {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.ctooltip:hover .tooltipbottom, .ctooltip:hover .tooltiptop {
  visibility: visible;
}

/* Navbar */
nav {
  background-color: #1f2029;
  z-index: 999;
}

nav.sticky {
  position: sticky;
  top: 0;
}

@media only screen and (min-width: 768px) {
  nav .page {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 768px) {
  nav .page {
    top: 0;
    left: 0;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  nav .nav-link {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  nav .brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 768px) {
  nav .brand {
    top: 15px;
  }
}

/* Header */
header {
  position: relative;
  margin-top: 0.5rem;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  header {
    height: 25rem;
  }
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.25;
  z-index: 1;
}

header .overlay:hover {
  background-color: #007bff;
  opacity: 0.2;
}

/* footer */
.page-footer {
  margin-top: 2rem;
}

.list-group-item-c {
  position: relative;
  display: block;
}

.intro {
  margin-top: 1rem;
}

.section {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 25px;
}

/* Card */
.card {
  display: flex;
  background: none;
  border-radius: 10px;
  box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
}

.card.grid {
  display: flex;
  width: 28rem;
  margin: 10px;
  background: none;
  border-radius: 10px;
  box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
}

.card .blue {
  background: url("../images/Backgrounds/bg-blue.png") no-repeat center;
  background-size: 100%;
}

.card .brown {
  background: url("../images/Backgrounds/bg-brown.png") no-repeat center;
  background-size: 100%;
}

.card .green {
  background: url("../images/Backgrounds/bg-green.png") no-repeat center;
  background-size: 100%;
}

.card .pink {
  background: url("../images/Backgrounds/bg-pink.png") no-repeat center;
  background-size: 100%;
}

.card .red {
  background: url("../images/Backgrounds/bg-red.png") no-repeat center;
  background-size: 100%;
}

.card span {
  position: relative;
  margin-right: 5px;
  padding: 3px 6px 3px 6px;
  line-height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  user-select: none;
  letter-spacing: 2px;
  font-weight: 400;
  color: #fff;
  border-radius: 10px;
  box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
}

.card .language {
  background-color: #2980b9;
}

.card .engine {
  background-color: #28b938;
}

.card .software {
  background-color: #e74c3c;
}

.card .platform {
  background-color: #9728b9;
}

/* Slider */
.slider input {
  display: none;
}

.slider .radio {
	width: 20px;
  height: 20px;
	cursor: pointer;
	border: 2px solid #000;
	border-radius: 50%;
	display: inline-block;
  transition: background-color .4s;
}

.slider .radio:hover {
  background-color: #727272;
}

.slider label {
  margin: .5rem .25rem 0 .25rem;
}

.slider #one, .slider #two, .slider #three {
  display: none;
  transition-property: opacity;
  transition-duration: .5s;
}

#img-1:checked ~ .img-box #one,
#img-2:checked ~ .img-box #two,
#img-3:checked ~ .img-box #three {
  display: block;
}

.slider input:checked ~ .radio {
	color: #FFF;
	background-color: #000;
}

.slider #img-1:checked ~ .sliders label #dot-1.radio,
.slider #img-2:checked ~ .sliders label #dot-2.radio,
.slider #img-3:checked ~ .sliders label #dot-3.radio {
  color: #FFF;
  background-color: #000;
}

/* Accordion */
.tab {
  position: relative;
  margin-bottom: 5px;
  width: 100%;
  color: #fff;
  border-radius: 10px;
  box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

.tab label:after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

.tab label:after {
  content: "\2193";
  font-size: 1.2em;
  float: right;
  position: relative;
  top: -2px;
  transition: .3s all;
  transform: rotate(-180deg);
}

.tab:hover label:after {
  transform: rotate(0deg);
}

/* Screenshots */
img.screenshot {
  margin: 5px;
}

/* Code */
pre {
  max-width: 100vh;
}

code {
  overflow: scroll;
}