@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-color: #1f2029;
	overflow-x: hidden;
}

a {
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

/* Header */
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.intro {
  margin-top: 1rem;
}

.card-img-top {
  width: auto;
}

.section {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 25px;
}

/* Checkbox */
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  line-height: 30px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  color: #fff;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="checkbox"]:checked:hover + label:before,
[type="checkbox"]:not(:checked):hover + label:before,
[type="checkbox"]:checked:hover + label:after,
[type="checkbox"]:not(:checked):hover + label:after {
  opacity: 0.7;
}

[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  background-color: transparent;
  z-index: -1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: '';
  width: calc(100% - 8px);
  border-radius: 2px;
  height: 22px;
  background-color: #e74c3c;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: -1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Checkbox languages */
.checkbox-cpp:checked + label:before,
.checkbox-cpp:not(:checked) + label:before {
  border: 1px solid #2980b9;
}

.checkbox-cpp:checked + label:after,
.checkbox-cpp:not(:checked) + label:after {
  background-color: #2980b9;
}

.checkbox-csharp:checked + label:before,
.checkbox-csharp:not(:checked) + label:before {
  border: 1px solid #2980b9;
}
.checkbox-csharp:checked + label:after,
.checkbox-csharp:not(:checked) + label:after {
  background-color: #2980b9;
}

.checkbox-java:checked + label:before,
.checkbox-java:not(:checked) + label:before {
  border: 1px solid #2980b9;
}

.checkbox-java:checked + label:after,
.checkbox-java:not(:checked) + label:after {
  background-color: #2980b9;
}

.checkbox-javascript:checked + label:before,
.checkbox-javascript:not(:checked) + label:before {
  border: 1px solid #2980b9;
}

.checkbox-javascript:checked + label:after,
.checkbox-javascript:not(:checked) + label:after {
  background-color: #2980b9;
}

/* Checkbox engines */
.checkbox-unity:checked + label:before,
.checkbox-unity:not(:checked) + label:before {
  border: 1px solid #2ecc71;
}

.checkbox-unity:checked + label:after,
.checkbox-unity:not(:checked) + label:after {
  background-color: #2ecc71;
}

.checkbox-unreal:checked + label:before,
.checkbox-unreal:not(:checked) + label:before {
  border: 1px solid #2ecc71;
}

.checkbox-unreal:checked + label:after,
.checkbox-unreal:not(:checked) + label:after {
  background-color: #2ecc71;
}

/* Checkbox software */
.checkbox-git:checked + label:before,
.checkbox-git:not(:checked) + label:before {
  border: 1px solid #e74c3c;
}

.checkbox-git:checked + label:after,
.checkbox-git:not(:checked) + label:after {
  background-color: #e74c3c;
}

.checkbox-perforce:checked + label:before,
.checkbox-perforce:not(:checked) + label:before {
  border: 1px solid #e74c3c;
}

.checkbox-perforce:checked + label:after,
.checkbox-perforce:not(:checked) + label:after {
  background-color: #e74c3c;
}

.checkbox-jira:checked + label:before,
.checkbox-jira:not(:checked) + label:before {
  border: 1px solid #e74c3c;
}

.checkbox-jira:checked + label:after,
.checkbox-jira:not(:checked) + label:after {
  background-color: #e74c3c;
}

/* Card */
.card {
  width: 18rem;
  background: none;
  border-radius: 10px;
  box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card.default {
  min-height: 140px;
  max-height: calc(25% - 20px);
  max-width: 100%;
  min-width: calc(25% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card .btn-primary {
  border-color: transparent;
}

.card .info {
  opacity: 0;
  min-height: 0;
  max-width: 0;
  min-width: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card .thumbnail {
  position: absolute;
}

.card:hover .info {
  opacity: 1;
  min-height: 140px;
  max-width: 100%;
  min-width: calc(25% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card span {
  position: relative;
  margin-right: 5px;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  line-height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  color: #fff;
  border-radius: 10px;
  box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
}

.card .language {
  background-color: #2980b9;
}

.card .engine {
  background-color: #2ecc71;
}

.card .software {
  background-color: #e74c3c;
}

.card.alizarin,
.card.csharp,
.card.emerland,
.card.cpp,
.card.javascript {
  opacity: 0;
  min-height: 0;
  max-width: 0;
  min-width: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.checkbox-alizarin:checked ~ .card.alizarin,
.checkbox-csharp:checked ~ .card.csharp,
.checkbox-emerland:checked ~ .card.emerland,
.checkbox-cpp:checked ~ .card.cpp,
.checkbox-javascript:checked ~ .card.javascript {
  opacity: 1;
  min-height: 140px;
  max-height: calc(25% - 20px);
  max-width: 100%;
  min-width: calc(25% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 1199px) {	
  .checkbox-alizarin:checked ~ .card.alizarin,
  .checkbox-csharp:checked ~ .card.csharp,
  .checkbox-emerland:checked ~ .card.emerland,
  .checkbox-cpp:checked ~ .card.cpp,
  .checkbox-javascript:checked ~ .card.javascript {
    min-width: calc(33.333333333333% - 20px);
  }
}

@media (max-width: 991px) {	
  .checkbox-alizarin:checked ~ .card.alizarin,
  .checkbox-csharp:checked ~ .card.csharp,
  .checkbox-emerland:checked ~ .card.emerland,
  .checkbox-cpp:checked ~ .card.cpp,
  .checkbox-javascript:checked ~ .card.javascript {
    min-width: calc(50% - 20px);
  }
}

@media (max-width: 575px) {	
  .checkbox-alizarin:checked ~ .card.alizarin,
  .checkbox-csharp:checked ~ .card.csharp,
  .checkbox-emerland:checked ~ .card.emerland,
  .checkbox-cpp:checked ~ .card.cpp,
  .checkbox-javascript:checked ~ .card.javascript {
    min-width: calc(100% - 20px);
  }
}

.mail {
  position: fixed;
  top: 30px;
  right: 80px;
  z-index: 200;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #0f1110;
  color: #866bb0;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(255,255,255,.1);
  transition: opacity .2s, border-radius .2s, box-shadow .2s;
  transition-timing-function: ease-out;
}

.github {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 200;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #0f1110;
  color: #866bb0;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(255,255,255,.1);
  transition: opacity .2s, border-radius .2s, box-shadow .2s;
  transition-timing-function: ease-out;
}

.github i, .mail i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.github:hover, .mail:hover {
  opacity: 0.8;
  color: #866bb0;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255,255,255,.1);
}

.link {
  cursor: pointer;
  text-align: center;
  background-color: #0f1110;
  color: #866bb0;
}

.link:hover {
  opacity: 0.8;
  color: #866bb0;
  border-radius: 3px;
  box-shadow: 0 0 0 3px rgba(255,255,255,.1);
}

.project-link {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 8px 8px 4px 8px;
  text-align: center;
  background-color: #0f1110;
  color: #866bb0;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(255,255,255,.1);
  transition: opacity .2s, border-radius .2s, box-shadow .2s;
  transition-timing-function: ease-out;
}

.project-link i {
  font-size: 24px;
}

.project-link:hover {
  opacity: 0.8;
  color: #866bb0;
  border-radius: 3px;
  box-shadow: 0 0 0 3px rgba(255,255,255,.1);
}

.table {
  color: #c4c3ca;
  border-radius: 10px;
  box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.table td, .table th {
  border-top: none;
}

/* Accordion */
.tab {
  position: relative;
  margin-bottom: 5px;
  width: 100%;
  color: #fff;
  border-radius: 10px;
  box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

.tab-content p {
  margin: 1em;
}

.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

.tab label:after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

.tab label:after {
  content: "\f3d0";
  font-family: IonIcons;
  font-size: 1.2em;
  float: right;
  position: relative;
  top: -2px;
  transition: .3s all;
  transform: rotate(0deg);
}

.tab label:after {
  transform: rotate(-180deg);
}