/* Landing page */
.header {
  text-align: center;
}

.navigation {
  text-align: center;
  margin-top: 9rem;
  margin-bottom: 7rem;
}

.or-divider{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "futura-pt";
  font-size: 3em;
  margin: 0 1em;
}
.or-divider::before{
  content: '';
  height: .125em;
  background: black;
  flex: 1;
  margin: 0 .25em 0 0;
}
.or-divider::after{
  content: '';
  height: .125em;
  background: black;
  flex: 1;
  margin: 0 0 0 .25em;
}

/* Portofolio */
.filterDiv {
  display: none;
}

.show {
  display: block;
}

.filterButton:hover {
  background-color: #ddd;
}

.filterButton.active {
  background-color: #666;
  color: white;
}

.button-small {
  padding: 1px 6px;
  text-transform: none;
}

.button-none {
  padding: 1px 6px;
  border: none;
}

.list-none {
  list-style: none;
}

.accordion {
  border-top: 1px solid #E1E1E1;
}

.accordion li {
  border-bottom: 1px solid #E1E1E1;
  position: relative;
}

.accordion li p {
  display: none;
  padding: 10px 25px 30px;
}

.accordion a {
  width: 100%;
  display: block;
  cursor: pointer;
  line-height: 3;
  user-select: none;
}

.accordion a:after {
  width: 8px;
  height: 8px;
  border-right: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  position: absolute;
  right: 10px;
  content: " ";
  top: 17px;
  transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.accordion p {
  padding: 10px;
}

a.active:after {
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tile {
  background-color: #ffffff;
}

.tileWrap {
  position: relative;
}

.tileHeader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.tileWrap:hover .tileHeader {
  visibility: visible;
  opacity: 1;
}